*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
}

.navbar-brand{
    color:#D4AF37 !important;
}

#hero{
    background:#f8f9fa;
}

#hero h1{
    line-height:1.2;
}

section{
    padding:80px 0;
}

.card{
    border:none;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

#stats{
    background:#000;
    color:#fff;
}

.stat-box{
    text-align:center;
    padding:40px 20px;
}

.stat-box h2{
    color:#D4AF37;
    font-size:3rem;
    font-weight:700;
}

.stat-box p{
    margin-top:10px;
}

.product-card{

    background:#fff;

    border-radius:20px;

    overflow:hidden;

    transition:.4s;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

}

.product-card:hover{

    transform:translateY(-12px);

    box-shadow:
    0 20px 50px rgba(0,0,0,.15);

}

.filter-btn{

    border:none;

    background:#fff;

    padding:12px 24px;

    border-radius:50px;

    margin:5px;

    transition:.3s;

}

.filter-btn.active{

    background:#D4AF37;

    color:#000;

}

#products{
    background:#f8f9fa;
}

.product-card{

    background:#fff;

    border-radius:20px;

    overflow:hidden;

    transition:.4s;

    cursor:pointer;

    height:100%;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

}

.product-card:hover{

    transform:translateY(-10px);

    box-shadow:
    0 20px 50px rgba(0,0,0,.15);

}

.product-image{

    width:100%;

    height:220px;

    object-fit:cover;

}

.product-category{

    background:#D4AF37;

    color:#000;

    padding:5px 12px;

    border-radius:50px;

    font-size:12px;

}

.filter-btn{

    border:none;

    background:#fff;

    padding:10px 20px;

    border-radius:50px;

    margin:5px;

}

.filter-btn:hover{

    background:#D4AF37;

}

#categoryFilters{
    margin-bottom:40px;
}

.filter-btn{

    border:none;

    background:white;

    padding:12px 22px;

    border-radius:50px;

    margin:5px;

    transition:.3s;

    box-shadow:
    0 5px 15px rgba(0,0,0,.08);

}

.filter-btn:hover{

    background:#D4AF37;

}

.filter-btn.active{

    background:#D4AF37;

}

.product-image{

    width:100%;

    height:220px;

    object-fit:cover;

}

.product-category{

    background:#D4AF37;

    color:#000;

    padding:5px 10px;

    border-radius:20px;

    font-size:12px;

}